* {
    margin: 1%;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 50%;
}

header {
    height: 25%;
}

header img {
    width: 50%;
    height: 50%;
}

main {
    height: 50%;
}

ul {
    margin-left: 10%;
}

.Experience {
    line-height: 2em;
}

footer {
    height: 25%;
}